html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0px;
	padding: 0;
	font-family: 'Oswald', sans-serif;
  background-color: black;
}

label{
  display: block;
  cursor: pointer;
}

ul{
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

li:hover{
  background-color: #982428;
}

button{
  border: 1px white;
  background-color: #b7b7b7;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  padding: .5em;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.billboard { 
    background-image: url(../image/banner.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    min-height: 100px;
}

.footer{ 
    background-image: url(../image/footer.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    min-height: 100px;
}

fieldset{
  border: 0px;
}

p{
	margin: 0;
	padding: 0;
  font-family: 'Slabo 13px', serif;
  color: black;

}

h1, h2{
  color: white;
}

nav{
  background-color: black;
}

.lineheight-2{
  line-height: 2.5rem;
  color: white;
}

.logo{
  width: 70px;
}



.bg-1{
	background-color: #671113;
}

.bg-2{
	background-color: #982428;
}

.bg-3{
  background-color: white;
}

.select{
  width: 100px;
  border-radius: 0;
}

.select-2{
  width: 200px
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1{
  	text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }